[Desktop Entry]
Name=Calculator
Exec=/usr/bin/matsya-calculator
Icon=matsya-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Calculator;
